@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;
  --font-spartan: "Spartan", sans-serif;

  --color-first-color: hsl(176 88% 27%);
  --color-first-color-alt: hsl(129 44% 94%);
  --color-second-color: hsl(34 94% 87%);
}

/* Custom Utilities */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >=640px) {
    max-width: 640px;
  }

  @media (width >=768px) {
    max-width: 768px;
  }

  @media (width >=1024px) {
    max-width: 1024px;
  }

  @media (width >=1280px) {
    max-width: 1280px;
  }
}

@layer base {
  html {
    font-size: 13.5px;
    /* global compact scale */
  }

  body {
    @apply font-lato text-slate-800 bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-spartan font-semibold text-slate-900 leading-tight;
  }
}

@layer components {
  .btn-primary {
    @apply bg-(--color-first-color) text-white px-8 py-3 rounded-md font-spartan font-bold transition-all duration-300 hover:bg-transparent hover:text-(--color-first-color) border-2 border-(--color-first-color) active:scale-95 cursor-pointer;
  }

  .section-title {
    @apply text-3xl font-black tracking-tighter mb-8;
  }
}